<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body style="text-align: center;">
	<div *ngFor="let item of listTTeacher" class="dataContainer">
		<span [ngClass]="{
			'dataContainerConnect': item.tassistance.length != 0,
			'dataContainerDisconnect': item.tassistance.length == 0
		}"></span>
		{{item.idTeacher}}
		<div>{{item.firstName}} {{item.surName}}</div>
		<div style="text-align: right;">{{item.tassistance.length > 0 ? item.tassistance[0].status : '---'}}</div>
	</div>
</body>
</html>